:root {
    --primary-color: white;
    --background-color: black;
    --secondary-color: #1da1f2;
}

body {
    background-color: black;
    color: var(--primary-color);
    margin: 0;
}

* {
    box-sizing: border-box;
    border: 0;
}
