:root {
    --primary-color: white;
    --background-color: black;
    --secondary-color: #1da1f2;
}

body {
    background-color: black;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
}

* {
    box-sizing: border-box;
    border: 0;
    margin: 3px;
}

.text-center {
    text-align: center;
}

main {
    width: 70%;
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    text-align: center;
}

hr {
    border: 2px solid var(--secondary-color);
}

a {
    color: var(--secondary-color);
}
/* form section */

.form-section {
    border: 2px solid var(--secondary-color);
    width: 60%;
    padding: 12px 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

label {
    /* background-color: green; */
    width: max-content;
}
input {
    max-width: 150px;
    width: 100%;
    border-radius: 4px;
}
input:focus {
    border: 2px solid var(--secondary-color);
    outline: 0;
}
.err {
    color: red;
    width: fit-content;
}
.button {
    width: 100%;
    display: flex;
    justify-content: center;
}

button,
.click {
    background-color: black;
    color: white;
    padding: 4px 12px 4px 12px;
    border-radius: 4px;
    border: 2px solid var(--secondary-color);
    cursor: pointer;
    margin: 0 auto;
}
button:hover {
    background-color: var(--secondary-color);
}
#EmailErr,
#passErr {
    max-height: 14px;
    font-size: 12px;
}

.middle {
    display: flex;
    justify-content: center;
}

.click {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 14px;
}
