@import url("/css/default.css");
form {
    text-align: center;
}

input,
button {
    height: 2rem;
    outline: none;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}
button {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color);
}

textarea {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-size: 20px;
    resize: none;
    outline: none;
    border: 2px solid var(--secondary-color);
    white-space: pre;
    margin-bottom: 2%;
}
